@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

:root {
    --colorLight: papayawhip;   
    --colorDark: brown;
    --colorSecondary: peachpuff;
    --colorPrimary: coral;
}

body {
    background: rgb(204, 109, 50);
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background: linear-gradient(var(--colorSecondary) 25%, var(--colorLight) 25%);
    box-shadow: 0 0 25px var(--colorDark);
    border-radius: 10px;
    padding: 50px 16px;
    transition: background 0.3s;
    cursor: pointer;
}

.card_image {
    position: relative;
    height: 150px;
    width: 150px;
}

.card_image .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--colorLight);
    box-shadow: 0 5px 0 var(--colorDark);
    transition: all 0.7s;
}

.card:hover > .card_image > .picture {
    border-radius: 5%;
    box-shadow: 0 0 40px var(--colorDark);
    transform: translateY(-50%) scale(1.5);
}

.card:hover {
    background: linear-gradient(var(--colorSecondary) 25%, var(--colorSecondary) 25%);
}

.card_body {
    text-align: center;
    padding: 20px;
}

.card_body {
    color: var(--colorDark);
}

.card_redes {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card_redes div {
    padding: 10px;
    text-align: center;
    background: var(--colorSecondary);
    border-radius: 6px;
    width: 100%;
    margin: 10px 0;
}

.card_redes div p {
    font-size: 20px;
}

.card_redes div a {
    text-decoration: none;
    color: var(--colorDark);
}

.card_footer {
    padding-top: 25px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card_footer .btn {
    padding: 8px 20px;
    border-radius: 25px;
    color: var(--colorDark);
    text-decoration: none;
    background: var(--colorSecondary);
    transition: all 1s ease;
}

.card_footer .btn:hover {
    background: var(--colorDark);
    color: var(--colorLight);
}

.card > .card_image > .picture {
    transition: all 0.7s;
}

.card .plus {
    position: relative;
    left: 55%;   
    top: -90px; 
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 5px;
    padding: 5px;
    background-color: white;
    color: var(--colorDark);
}

.header {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--colorSecondary);
    border-radius: 10px;
    box-shadow: 0 0 15px var(--colorDark);
}